@page "/"
@using IWRA_Web.Models
@using IWRA_Web.Data
@using IWRA_Web.Components.Partials.Page

@inject AppDbContext dbContext

<PageHeading Title="Requests" />

<table>
    <tr>
        <th>Date</th>
        <th>Work Request Number</th>
        <th>Requestor</th>
        <th>Department Id</th>
        <th>Status Id</th>
        <th>Assignee Id</th>
    </tr>

    @foreach (Request r in dbContext.Request)
    {
        <tr>
            <td>@r.CreatedAt.ToString("dd MMMM yyyy")</td>
            <td>@r.WorkRequestNumber</td>
            <td>@r.RequestorName</td>
            <td>@dbContext.Department.Find(r.DepartmentId).Name</td>
            <td>@dbContext.Status.Find(r.StatusId).Name</td>
            <td>@dbContext.Assignee.Find(r.AssigneeId).Name</td>
        </tr>
    }
</table>

@code {
}

<style>
    table {
        border: 1px solid black;
        margin: 2rem;
    }

    td, th {
        border: 1px solid black;
        padding: 0.5rem;
    }
</style>